@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Include Angular Material core styles (ONLY once) */
@include mat.core();

/* Global body style */
body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

/* Define Angular Material theme */
$angular_routes-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

/* Apply theme to all components */
:root {
  @include mat.all-component-themes($angular_routes-theme);
}

/* Optional typography */
// @include mat.typography-hierarchy($angular_routes-theme);

/* Optional compatibility */
// @include mat.color-variants-backwards-compatibility($angular_routes-theme);

/* Global layout */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
